.site {
  grid-column: span 2;
}

.site h2 { display: inline-block; }
.negative { color: red; }
.positive { color: #64DD17; }

.site-content { padding-top: 20px; }
.result-count {
  float: right;
  color: #aaa;
  font-size: 0.8em;
  line-height: 30px;
}

@media screen and (min-width: 800px) {
  .site { grid-column: span 1; } 
}
