* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: 100;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #64DD17;
}
a:hover { color: #2196F3; }
